<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
          <p class="is-size-1 has-text-weight-bold has-text-centered">Post a review</p>
          <br>
          <div class="columns is-centered">
            <div class="column is-3">
              <%= link_to "List of stores", shops_path, class: "button is-fullwidth" %>
              <br>
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button is-fullwidth" %>
              <% else %>
                <%= link_to "Log in", new_user_session_path, class: "button is-fullwidth" %>
                <br>
                <%= link_to "Sign up", new_user_registration_path, class: "button is-fullwidth" %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
